#KGlobalFooter {
	background-color: #eff0f1;
	color: #7f8c8d;
	padding-top: 20px;
}


#KGlobalFooter a {
	text-decoration: none;
	color: #2980b9;
}


#KGlobalFooter section {
	width: 100%;
	max-width: 1040px;
	margin: 0px auto;
	padding: 0 20px;
	box-sizing: border-box;
}


#KGlobalFooter #KSiteDonateForm {
	background-color: #abf9c7;
	border: solid 1px #7ceca4;
	border-radius: 2px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#KSiteDonateForm h3 {
	font-size: 14px;
	color: #377d50;
	padding: 0px 0px 10px;
	margin: 0px;
}

#KSiteDonateForm h3 a {
	color: auto;
	font-weight: normal;
	margin-left: 20px;
}
#KSiteDonateForm h3 a:before {
	content: "( ";
	color: #377d50;
}
#KSiteDonateForm h3 a:after {
	content: " )";
	color: #377d50;
}

#otherWaysDonate {
	display: inline-block;
	font-size: 14px;
	margin-top: 10px;
}

#KGlobalFooter #KSiteFooterLinks {
	width: 100%;
	max-width: 1040px;
	margin: 0px auto;
	padding: 30px 20px 30px 0px;
}


#KGlobalFooter #KSiteFooterLinks:after {
	content: "";
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
}


#KGlobalFooter #KSiteFooterLinks nav h1 {
	font-size: 14px;
	color: #95a5a6;
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}


#KGlobalFooter #KSiteFooterLinks nav {
	width: 20%;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 12px;
	padding: 10px 0px 10px 20px;
}


#KGlobalFooter #KSiteFooterLinks nav a {
	display: block;
	line-height: 150%;
}


#KGlobalFooter #KSiteFooterLinks nav a:after {
	color: #7f8c8d;
	position: relative;
	content: ">";
	font-family: "glyph";
	vertical-align: baseline;
	top: .1em;
	padding-left: 10px;
}


#KGlobalContributorLinks {
	max-width: 100% !important;
	background-color: rgba(0,0,0,.05);
}


#KGlobalContributorLinks nav {
	max-width: 1000px;
	padding: 0px;
	line-height: 50px;
	margin: 0px auto;
	font-size: 14px;
	width: 100%;
}


#KGlobalLegalInfo {
	padding: 20px 20px !important;
}


#KGlobalLegalInfo small {
	font-size: 12px;
}


#KGlobalLegalInfo small + small:before {
	content: " | ";
	color: #bdc3c7;
	margin: 0px 10px;
}


#KGlobalLegalInfo figure {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}


@media (max-width: 999px) {
	#KGlobalFooter #KSiteFooterLinks nav { width: 25%; }
}


@media (max-width: 800px) {
	#KGlobalFooter #KSiteFooterLinks nav { width: 50%; }
}

@media (max-width: 500px) {
	#KGlobalFooter #KSiteFooterLinks nav { width: 100%; }
}
