.KLayout {
	background-color: #fcfcfc;
	padding: 1px 0px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}


.KLayout a {
	text-decoration: none;
	color: #2980b9;
	outline: none;
}

.KLayout section {
	/*
	background-color: #eff0f1;
	border-top: solid 1px #fcfcfc;
	border-bottom: solid 1px #fcfcfc;
	*/
	background-color: #fcfcfc;
	padding: 0px;
	margin: 20px 0px;
}

.KLayout section > img {
	display: block;
	max-width: 100%;
	margin: 10px auto;
}

.KLayout section img.splashImage {
	display: block;
	max-width: 100%;
	margin: 10px auto;
	padding: 0px 20px;
	box-sizing: border-box;
}




.KLayout section article {
	width: 100%;
	display: block;
	max-width: 1000px;
	margin: 0px auto;
	background-color: #fcfcfc;
	border-left: solid 3px rgba(0,0,0,.05);
	border-right: solid 3px rgba(0,0,0,.05);
	box-sizing: border-box;
	padding: 20px;
}


.KLayout section article h1 {
	font-size: 40px;
	font-weight: normal;
	line-height: 120%;
	text-align: center;
	margin: 20px auto;
	color: #4d4d4d;
}

.KLayout section article h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 120%;
	text-align: center;
	margin: 20px auto;
	color: #4d4d4d;
}

.KLayout section article h3 {
	font-size: 24px;
	font-weight: normal;
	line-height: 120%;
	text-align: center;
	margin: 20px auto;
	color: #4d4d4d;
}

.KLayout section article * + h1,
.KLayout section article *:not(h1) + h2,
.KLayout section article *:not(h1):not(h2) + h3,
.KLayout section article *:not(h1):not(h2):not(h3) + h4,
.KLayout section article *:not(h1):not(h2):not(h3):not(h4) + h5 {
	margin-top: 40px;
}

.KLayout sup.tag {
	background-color: #eff0f1;
	color: #4d4d4d;
	padding: 0px 4px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.1);
	line-height: 100%;
	font-size: 10px;
	font-weight: normal;
	vertical-align: top;
	position: relative;
	top: -.2em;
	margin-left: 2px;
}

.KLayout section article > * {
	display: block;
	box-sizing: border-box;
	margin: 10px auto;
	max-width: 600px;
	text-align: left;
	line-height: 160%;
}

.KLayout section article > small {
	background-color: #eff0f1;
	color: #95a5a6;
	font-size: 10px;
	padding: 5px 10px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.1);
	line-height: 150%;
}

.KLayout section article > aside {
	background-color: #3daefd;
	color: #fafafa;
	padding: 5px 10px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.1);
	line-height: 150%;
}

.KLayout section article {
	line-height: 180%;
}

.KLayout section article nav a {
	display: inline;
	line-height: 120%;
}

.KLayout section article nav a:hover {
	text-decoration: underline;
}

.KLayout section article nav a:after {
	position: relative;
	content: ">";
	font-family: "glyph";
	vertical-align: baseline;
	top: .1em;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none !important;
}

.KLayout section article nav a + a {
	margin-top: .6em;
}

.KLayout section article nav a + a:before {
	content: "\a";
	white-space: pre-wrap;
}

.KLayout section + section {
	margin-top: 20px;
}


.KLayout section.heroDisplay {
	text-shadow: 0px 0px 10px rgba(0,0,0,.6);
}

.KLayout section.heroDisplay p {
	font-size: 150%;
	line-height: 150%;
	text-align: center;
}


.KLayout section.heroDisplay article {
	border-left: none;
	border-right: none;
	background-color: transparent;
	max-width: 800px;
	padding: 100px 40px;
	margin: 0px auto;
	color: #FFF;
}


.KLayout section.heroDisplay h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 100%;
	margin: 20px auto;
	padding: 0px;
	text-align: center;
	color: #FFF;
}

.KLayout .multicolumn-2 {
	padding: 0px;
}

.KLayout .multicolumn-2 > * {
	width: 50%;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	margin: 0px;
}

.KLayout .multicolumn-2:after {
	display: block;
	position: static;
	content: "";
	clear: both;
	width: 100%;
	height: 1px;
}

.KLayout .multicolumn-2 > :nth-child(2) {
	border-left: solid 3px rgba(0,0,0,.05);
}


.KLayout figure.code {
	position: relative;
	margin: 0px;
	background-color: #4d4d4d;
	padding: 10px 10px 10px 60px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.2);
	color: #fcfcfc;
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	box-sizing: border-box;
}


.KLayout figure.code:before {
	content: "#";
	font-family: "glyph";
	font-size: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}