html {
	padding-top: 50px !important;
}

.animate #KSiteNavigation,
.animate #KSiteNavigation h1,
.animate #KSiteNavigation h1 img {
	transition: all .4s, text-shadow .2s;
}

#KSiteNavigation {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	color: #31363b;
	padding: 10px 20px;
	line-height: auto;
	background-clip: padding-box !important;
	border-bottom: solid 0px rgba(0,0,0,.1);
}

#KSiteNavigation.overlay,
.KStandardSiteStyle #KSiteNavigation.overlay {
	color: #31363b;
	text-shadow: 0px 0px 10px rgba(0,0,0,.6);
}

.KProSiteStyle #KSiteNavigation.overlay {
	background-color: #31363b;
}

.KDevSiteStyle #KSiteNavigation.overlay {
	color: #fafafa ;
}

.KProSiteStyle #KSiteNavigation.overlay {
	color: #fafafa;
	background-color: rgba(25,38,41,.85);
	background: linear-gradient(#192629, rgba(25,38,41,.5));
}

.sticky #KSiteNavigation {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom: solid 3px rgba(0,0,0,.1);
}

.sticky #KSiteNavigation,
.sticky #KSiteNavigation.overlay,
.KStandardSiteStyle .sticky #KSiteNavigation.overlay {
	color: #31363b;
	background-color: rgba(252,252,252,1);
	padding: 2px 20px;
	text-shadow: 0px 0px 15px rgba(0,0,0,0);
}

.KProSiteStyle .sticky #KSiteNavigation,
.KProSiteStyle .sticky #KSiteNavigation.overlay {
	color: #fafafa;
	background-color: #192629;
}

.KDevSiteStyle .sticky #KSiteNavigation,
.KDevSiteStyle .sticky #KSiteNavigation.overlay {
	color: #fafafa;
	background-color: #3498db;
}

#KSiteNavigation div {
	max-width: 1000px;
	margin: 0px auto;
	position: relative;
	min-height: 30px;
}

#KSiteNavigation h1 {
	font-size: 28px;
	font-weight: normal;
	line-height: 50px;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

.sticky #KSiteNavigation h1 {
	font-size: 16px;
	line-height: 28px;
}

#KSiteNavigation h1 img {
	vertical-align: top;
	margin-right: 30px;
	margin-left: -4px;
	width: 48px;
	height: 48px;
}

.sticky #KSiteNavigation h1 img {
	margin-right: 10px;
	margin-left: -4px;
	width: 24px;
	height: 24px;
	padding: 3px 0px;
}


#KSiteNavigation div nav {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#KSiteNavigation nav a + * {
	margin-left: 10px;
}

#KSiteNavigation.overlay h1 a {
	color: #31363b;
	text-decoration: none;
}

#KSiteNavigation h1 a,
.sticky #KSiteNavigation h1 a {
	color: #31363b;
	text-decoration: none;
}

#KSiteNavigation nav a,
.KStandardSiteStyle #KSiteNavigation nav a {
	display: inline-block;
	color: #31363b;
	text-decoration: none;
	padding: 0px 10px;
	border-radius: 2px;
	transition: background-color .2s, color .2s;
	line-height: 30px;
}

#KSiteNavigation nav a:hover,
.KStandardSiteStyle #KSiteNavigation nav a:hover {
	color: #31363b;
	background-color: #1d99f3;
	text-shadow: none;
}

#KSiteNavigation nav a.button {
	display: inline-block;
	color: #31363b !important;
	background: #2ecc71;
	text-shadow: none;
}

#KSiteNavigation nav a.button:hover {
	background: #abf9c7;
}

#KSiteNavigation.overlay nav a,
.KStandardSiteStyle #KSiteNavigation.overlay nav a {
	color: #31363b;
}

#KSiteNavigation.overlay nav a:hover,
.KStandardSiteStyle #KSiteNavigation.overlay nav a:hover {
	color: #31363b;
}


.sticky #KSiteNavigation.overlay nav a,
.sticky .KStandardSiteStyle #KSiteNavigation.overlay nav a {
	color: #31363b;
}
