@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html {
	padding-top: 100px !important;
}

body {
	border: solid 10px #F00 !important;
}



#KSiteLogo {
	height: 52px;
	line-height: 52px;
	background-repeat: no-repeat;
	background-position: 15px center;
	padding-left: 77px;
}