<article class="KDeveloperPane KDisplayPane">
	<h2>KDE Frameworks 5</h2>
	<small>A powerful, modular set of extensions for Qt.</small>
	<a href="https://api.kde.org/frameworks/">Read the Documentation</a>
</article>
<nav>
	<a href="https://api.kde.org/">KDE API Reference</a>
	<a href="http://doc.qt.io/qt-5/">Qt API Reference</a>
	<a href="https://inqlude.org/">Inqlude Qt Library Archive</a>
	<a href="https://techbase.kde.org/Welcome_to_KDE_TechBase">KDE Techbase Wiki</a>
	<a href="https://techbase.kde.org/Special:MyLanguage/Development/Tutorials/Plasma5">Plasma Widget &amp; Theme Development</a>
	<a href="https://techbase.kde.org/Contribute/Get_a_Contributor_Account">Contributor Accounts</a>
	<a href="https://phabricator.kde.org/">Phabricator Code Review</a>
</nav>
