
<article class="KDonatePane KDisplayPane">
	<h2>Join the Game</h2>
	<h4>Become an official supporting member of KDE eV.</h4>
	<div class="KDonateJoin">
		<nav>
			<a href="https://relate.kde.org/">Learn more</a>
			<a href="https://relate.kde.org/civicrm/contribute/transact?id=5">Join now!</a>
		</nav>
	</div>
</article>
<nav>
	<a href="https://www.kde.org/community/donations/">Make a one-time donation</a>
	<a href="https://ev.kde.org/getinvolved/supporting-members.php">Corporate sponsorships</a>
</nav>
<nav>
	<a href="http://www.cafepress.co.uk/kde">KDE Cafepress Store</a>
</nav>