<article class="KProductPane KDisplayPane">
	<h2>Plasma Desktop</h2>
	<div class="KProductsPreview">
		<nav>
			<a href="https://www.kde.org/plasma-desktop">Read about it</a>
		</nav>
	</div>
</article>
<nav>
	<a href="https://www.kde.org/announcements/">Announcements</a>
	<a href="https://www.kde.org/applications/">KDE Applications</a>
	<a href="https://neon.kde.org">KDE neon</a>
	<a href="https://plasma-mobile.org">Plasma Mobile</a>
</nav>
